<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}StackExchange Django{% endblock %}</title>
</head>
<body>
    <header>
        <a href="{% url "index" %}">Stackexchange Django</a>
    </header>
    <main>
        {% block sidebar %}
        <nav>
            <ul>
                <li><a href="{% url "questions" %}">Questions</a></li>
                <li><a href="/">Tags</a></li>
                <li><a href="/">Users</a></li>
            </ul>
        </nav>
        {% endblock %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
