{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1>{{ question.title }}</h1>
    <div>
        <div>{{ question.score }}</div>
    </div>
    <div>
        <div>Asked {{ question.creation_date }}</div>
        <div>Modified {{ question.last_edit_date }}</div>
        <div>Viewed {{ question.creation_date }}</div>
    </div>
    <div>{{ question.body | safe }}</div>
    <div>
    {% for tag in question.tags.all %}
        <span><a href="{% url "web-question-tagged" tag=tag.name %}">{{ tag.name }}</a></span>
    {% endfor %}
    </div>
    <hr>
    <h2>{{ answers.count }} answers</h2>
    {% for answer in answers %}
    <div>
        <div>{{ answer.score }}</div>
        <div>{{ answer.body | safe }}</div>
        <div>{{ answer.creation_date }}</div>
    </div>
    <hr>
    {% endfor %}
{% endblock %}