{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1>{{ heading }}</h1>
    <p>{{ page_obj.paginator.count }} questions</p>
    <hr>
    {% for question in questions %}
        <div>
            <div>{{ question.score }} votes</div>
            <div>{{ question.answer_count }} answers</div>
            <div>{{ question.view_count }} views</div>
            <div><h2><a href="{% url "web-question-detail" pk=question.pk %}">{{ question.title }}</a></h2></div>
            <div>
                {% for tag in question.tags.all %}
                    <span><a href="{% url "web-questions-tagged" tag=tag.name %}">{{ tag.name }}</a></span>
                {% endfor %}
            </div>
            <div>{{ question.owner.display_name }} asked {{ question.creation_date }}</div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
