{% extends "base.html" %}
{% block content %}
    <h1>All questions</h1>
    <p>{{ page_obj.paginator.count }} questions</p>
    <hr>
    {% for question in questions %}
        <div>
            <div>{{ question.score }} votes</div>
            <div>{{ question.answer_count }} answers</div>
            <div>{{ question.view_count }} views</div>
            <div>{{ question.title }}</div>
            <div>
                {% for tag in question.tags.all %}
                    <span>{{ tag.name }}</span>
                {% endfor %}
            </div>
            <div>{{ question.owner.display_name }} asked {{ question.creation_date }}</div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
