[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120

[SIMILARITIES]

# Ignore imports when computing similarities.
ignore-imports=yes

[MESSAGES CONTROL]

# Ignore duplicate code
disable=duplicate-code
