<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}StackExchange Django{% endblock %}</title>
</head>
<body>
    <header>
        <a href="{% url "web-index" %}">Stackexchange Django</a>
    </header>
    <main>
        {% block sidebar %}
        <nav>
            <ul>
                <li><a href="{% url "web-question-list" %}">Questions</a></li>
                <li><a href="{% url "web-tag-list" %}">Tags</a></li>
                <li><a href="{% url "web-user-list" %}">Users</a></li>
            </ul>
        </nav>
        {% endblock %}
        {% block heading %}<h1>{{ heading }}</h1>{% endblock %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
