{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}StackExchange Django{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'stackexchange/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'stackexchange/favicon-32x32.png' %}/">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'stackexchange/favicon-16x16.png' %}/">
    <link rel="manifest" href="{% static 'stackexchange/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'stackexchange/safari-pinned-tab.svg' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header>
        <a href="{% url "web-index" %}">Stackexchange Django</a>
    </header>
    <main>
        {% block sidebar %}
        <nav>
            <ul>
                <li><a href="{% url "web-question-list" %}">Questions</a></li>
                <li><a href="{% url "web-tag-list" %}">Tags</a></li>
                <li><a href="{% url "web-user-list" %}">Users</a></li>
            </ul>
        </nav>
        {% endblock %}
        {% block heading %}<h1>{{ heading }}</h1>{% endblock %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
