{% extends "stackexchange/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1>{{ object.title }}</h1>
    <div>
        <div>{{ object.score }}</div>
    </div>
    <div>
        <div>Asked {{ object.creation_date }}</div>
        <div>Modified {{ object.last_edit_date }}</div>
        <div>Viewed {{ object.creation_date }}</div>
    </div>
    <div>{{ object.body | safe }}</div>
    <div>
    {% for tag in object.tags.all %}
        <span><a href="{% url "web-question-tagged" tag=tag.name %}">{{ tag.name }}</a></span>
    {% endfor %}
    </div>
    <div>
    {% for comment in object.comments.all %}
    <div>
        <div>{{ comment.score }}</div>
        <div>{{ comment.text }} - {{ comment.user.display_name }}</div>
        <div>{{ comment.creation_date }}</div>
    </div>
    {% endfor %}
    </div>
    <hr>
    <h2>{{ object.answers.count }} answers</h2>
    {% for answer in object.answers.all %}
    <div>
        <div>{{ answer.score }}</div>
        <div>{{ answer.body | safe }}</div>
        <div>Answered {{ answer.creation_date }}</div>
        <div>
        {% for comment in answer.comments.all %}
            <div>
                <div>{{ comment.score }}</div>
                <div>{{ comment.text }} - {{ comment.user.display_name }}</div>
                <div>{{ comment.creation_date }}</div>
            </div>
        {% endfor %}
        </div>
    </div>
    <hr>
    {% endfor %}
{% endblock %}