{% extends "stackexchange/base.html" %}

{% block heading %}<h1>{{ object.display_name }}</h1>{% endblock %}

{% block content %}
<p>Member since {{ object.creation_date }}</p>
{% if object.location %}
<p>{{ object.location }}</p>
{% endif %}
<h2>Stats</h2>
<div>
    <p>{{ object.reputation }} reputation</p>
    <p>{{ object.answer_count }} answers</p>
    <p>{{ object.question_count }} questions</p>
</div>
{% if object.about %}
<h2>About</h2>
<p>{{ object.about | safe }}</p>
{% endif %}
{% endblock %}
