{% extends "stackexchange/base.html" %}

{% block heading %}<h1>{{ object.display_name }}</h1>{% endblock %}

{% block content %}
<p>Member since {{ object.creation_date }}</p>
{% if object.location %}
<p>{{ object.location }}</p>
{% endif %}
<h2>Stats</h2>
<div>
    <div>{{ object.reputation }} reputation</div>
    <div>{{ object.answer_count }} answer{{ object.answer_count|pluralize }}</div>
    <div>{{ object.question_count }} question{{ object.question_count|pluralize }}</div>
</div>
{% if object.about %}
<h2>About</h2>
<p>{{ object.about | safe }}</p>
{% endif %}
<h2>Badges</h2>
<div>
    <strong>{{ object.gold_badge_count }}</strong> gold badge{{ object.gold_badge_count|pluralize }}
</div>
<div>
    <strong>{{ object.silver_badge_count }}</strong> silver badge{{ object.silver_badge_count|pluralize }}
</div>
<div>
    <strong>{{ object.bronze_badge_count }}</strong> bronze badge{{ object.bronze_badge_count|pluralize }}
</div>
{% endblock %}
